html{
  font-family: 'Roboto','sans-serif';
  color:#EEEEEE;
}
body{
  background-color: #222222;
}

.row{
  width: 325px;
  border: 1px solid black;
  border-radius: 3%;
}
.row:nth-child(even){
  background-color: #444444;
}
h2{
  padding-left: 10px;
  display: inline-block;
}
h3{
  border-radius: 10%;
  padding:2px;
  padding-right: 5px;
  margin-right: 5px;
  float:right;
  display: inline-block;
}
